body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 1, 1, 0.5);
    padding: 0%;
    margin: 0;
}
:root{
    --heigth:200px;
    --color:rgb(21, 180, 205);
}
.heart{
    height: var(--heigth);
    width: var(--heigth);
    background-color: var(--color);
    transform: rotate(45deg);
    animation: latir .5s infinite ease-in-out alternate;
}
.heart::before, .heart::after{
    content: "";
    height: var(--heigth);
    width: var(--heigth);
    background-color: var(--color);
    display: flex;
    position: fixed;
    border-radius: 50%;
    transform: translateY(-100px);
}
.heart::after{
    transform: translateX(-100px);
}

@keyframes latir{
    100%{
        transform:rotate(45deg) scale(1.2);
    }
}
 header  {
        color: aliceblue;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        font-family: cursive;
        font-weight: 800;
   
   


}